html{font-family: sans-serif; text-align: center }
body{display: inline-block; text-align: left; color: blueviolet; background-color: pink}
input[type="number"]{text-align: right}
footer{font-size: small}
